/* abstracts */
@import "@scss/_global/abstracts/mixins.scss";
@import "@scss/_global/abstracts/variables.scss";
@import "@scss/_global/abstracts/functions.scss";

.footer {
  background-color: $mainTextColor;
  .navigation {
    background-color: $mainTextColor;

    &__panel {
      & > :not(:last-child) {
        margin-right: 2rem;
      }
    }
    &__container {
      grid-template-columns: 12rem minmax(30rem, 60rem) auto;
    }

    &__text {
      color: #787a8e;
      &_currentPage {
        text-decoration: underline;
      }
    }
  }

  .select {
    $this: ".select";
    &.open {
      #{$this}__dropdown {
        background-color: white;
      }
    }
  }
}

.additionalInfo {
  display: flex;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  border-top: 1px solid #c3c0f9;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__linksWrapper {
    width: 100%;
    max-width: 100%;
    & > :not(:last-of-type) {
      margin-right: 2rem;
    }
  }
}

@media (max-width: 1350px) {
  .footer {
    .navigation {
      &__panel {
        max-width: 50rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  .footer {
    .navigation {
      &__container {
        grid-template-columns: auto;
        justify-content: center;
        justify-items: center;
        gap: 5rem;
      }

      &__panel {
        max-width: 100%;
      }

      &__contacts {
        grid-template-columns: 1fr;
        justify-content: center;
        justify-items: center;
        gap: 1rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .footer {
    .navigation {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      &__container {
        gap: 1rem;
      }
      &__panel {
        display: none;
      }

      &__logo {
        max-width: 8rem;
      }

      &__text {
        font-size: 1rem;
      }
    }
  }

  .additionalInfo {
    padding-top: 1rem;
    padding-bottom: 1rem;

    &__container,
    &__linksWrapper {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    &__linksWrapper {
      margin: 0 0 1rem 0;

      & > :not(:last-of-type) {
        margin: 0 0 1rem 0;
      }
    }
  }
}
