/* abstracts */
@import "@scss/_global/abstracts/mixins.scss";
@import "@scss/_global/abstracts/variables.scss";
@import "@scss/_global/abstracts/functions.scss";

.navigation {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: white;

  &__closeButton{
    display: none;
  }
  .select {
    $this: ".select";
    &.open {
      #{$this}__dropdown {
        transform: translate(-50%, 100%) scale(1);
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__select {
    position: relative;
    cursor: pointer;
  }

  $dropdDownSpaceFromSelect: -1rem;

  &__dropdown {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    min-width: 26rem;
    position: absolute;
    bottom: $dropdDownSpaceFromSelect;
    transform: translate(-50%, 10%) scale(0);
    transition: 0.5s ease;
    left: 50%;
    padding: 1.2rem;
    opacity: 0;
    visibility: visible;
    &::before {
      content: "";
      position: absolute;
      top: calc(50% + #{$dropdDownSpaceFromSelect});
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      z-index: -1;
      cursor: default;
    }

    & > :not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__container {
    display: grid;
    gap: 3rem;
    grid-template-columns: 12rem 1fr auto;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    max-width: 12rem;
    width: 100%;
    height: 3rem;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__panel {
    display: flex;
    justify-content: space-between;
    max-width: 60rem;
    width: 100%;
    justify-self: center;
    & > :not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__text {
    font-size: 1.8rem;
    color: $mainTextColor;

    &_currentPage {
      color: #787a8e;
      cursor: default;
    }
  }

  &__contacts {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2.5rem;
  }
}

.header {
  position: relative;
  z-index: 6;
  $this: &;
  &_fixedState {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    transition: 0.5s ease;
    z-index: z(header_fixedState);
    #{$this}__navigation {
      opacity: 0;
      visibility: hidden;
    }
  }
}
.burgerIcon {
  display: flex;
  align-items: center;
  width: 2.7rem;
  height: 1.6rem;
  display: none;
  position: relative;
  z-index: z(burgerIcon);

  cursor: pointer;
  transition: 0.3s ease;

  &::after,
  &::before,
  span {
    content: "";
    position: absolute;
    left: 0%;
    border-radius: 0.3rem;
    width: 100%;
    height: 0.2rem;
    background-color: #000000;
    transition: 0.3s ease;
  }
  span {
    transform: translateY(50%);
    transition: 0.3s ease;
  }

  &::after {
    top: 0%;
  }

  &::before {
    top: 100%;
  }

  &.active {
    transform: scale(1.5);
    span {
      opacity: 0;
    }
    &::after,
    &::before {
      top: 50%;
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }
}

@media (max-width: 1350px) {
  .burgerIcon {
    grid-row: 2/2;
    display: flex;
    justify-self: end;
  }

  .header {
    position: relative;
    &__navigation {
      position: absolute;
      top: 0;
      right: -100%;
      display: flex;
      flex-direction: column;
      max-width: 32rem;
      z-index: z(header_navigation);
      background-color: white;
      padding: 4rem;
      // &.active {
      right: 0;
      & :not(:last-child) {
        margin: 0 0 4rem 0;
      }
      // }
    }

    .navigation {
      &__container {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
      }

      &__contacts {
        grid-row: 1/2;
        width: 100%;
        max-width: 100%;
        grid-column: 1/2 span;
        justify-content: space-between;
        border-bottom: 1px solid #c3c0f9;
        padding-bottom: 1rem;
        padding-left: 5rem;
      }

      &__logo {
        grid-row: 2/2;
      }

      &__text {
        &_currentPage {
          color: $mainTextColor;
          text-decoration: underline;
        }
      }
    }
  }
}
