.cardWithIcon {
  max-width: 31.5rem;
  width: 100%;
  padding: 2rem;
  background: #ffffff;
  border-radius: 0.7rem;
  min-height: 20rem;
  &__img {
    width: 6rem;
    height: 6rem;
    margin: 0 auto 2.5rem auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__title {
    font-family: "PT Sans";
    font-size: 2.4rem;
    line-height: 140.8%;
    text-align: center;
    color: $mainTextColor;
  }
}

@media (max-width: 1350px) {
  .cardWithIcon {
    max-width: 25rem;
    min-height: 18rem;
    &__title {
      font-size: 2rem;
    }

    &__img {
      width: 4.8rem;
      height: 4.8rem;
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: 480px) {
  .cardWithIcon {
    min-height: 8rem;
    max-width: 100%;
    padding: 1rem;
    &__title {
      font-size: 1.5rem;
    }
    &__img {
      width: 2.4rem;
      height: 2.4rem;
      margin-bottom: 1rem;
    }
  }
}
