.linkCard {
  $this: &;
  background-color: #ffffff;
  color: $mainTextColor;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem 2rem;
  overflow: hidden;
  min-height: 30rem;
  transition: 0.3s ease;
  &:hover {
    box-shadow: 0px 0px 40px 5px #a39bfd;
    #{$this}__link {
      color: #000066;
    }

    #{$this}__img {
      transform: translateX(10%);
    }
  }
  &__title {
    font-weight: 500;
    font-size: 3rem;
    line-height: 1.4;
    margin-bottom: 2.3rem;
    max-width: 90%;
  }

  &__categoryWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
  }

  &__categoryLink {
    font-family: "PT Sans";
    font-size: 1.5rem;
    color: $mainTextColor;
    line-height: 1.5;
    &:not(:last-of-type) {
      position: relative;
      padding-right: 1rem;
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 0.1rem;
        height: 100%;
        background-color: #010142;
        top: 0;
        right: 0.5rem;
        transform: translateX(100%);
      }
    }
  }

  &__link {
    color: #787a8e;
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 1.2;
    position: relative;
    padding-right: 2rem;
    margin-top: auto;
    transition: 0.3s ease;
    &::after {
      content: "";
      @include backgroundImage("@/assets/_global/icons/Arrow_right.svg", contain);
      max-width: 2rem;
      height: 1rem;
      width: 100%;

      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-10%);
      right: -1rem;
    }
  }

  &__img {
    max-width: 100%;
    width: 100%;
    height: 14rem;
    transform: translateX(20%);
    margin-bottom: 4.5rem;
    transition: 0.5s ease;
    img {
      //   width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 1350px) {
  .linkCard {
    padding: 3rem 1rem;
    $this: &;
    &__title {
      font-size: 2.8rem;
    }
  }
}

@media (max-width: 650px) {
  .linkCard {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: max-content max-content;
    min-height: auto;
    gap: 1rem;
    &__img {
      grid-row: 1/2 span;
      grid-column: 2/2;
    }

    &__categoryWrapper,
    &__title,
    &__img {
      margin: 0;
    }

    &__title {
      max-width: 100%;
    }

    &__categoryWrapper {
      align-self: self-start;
    }
  }
}

@media (max-width: 480px) {
  .linkCard {
    padding: 2rem;
    &__title {
      font-size: 2rem;
    }

    &__categoryLink {
      font-size: 1rem;
    }

    &__img {
      height: 12rem;
    }
  }
}
