mixin defaultButton(tag, additionalSelector, text,popUpNum)
  if tag== "button"
    button.defaultButton(class=additionalSelector data-window=popUpNum)= text
  else if tag== "a"
    a.defaultButton(class=additionalSelector)= text
