mixin card_WithIcon(title, imgNum)
    .cardWithIcon.swiper-slide
        .cardWithIcon__img
            img(src=require(`@/assets/images/index/features/${imgNum}.svg`), alt="alt")
        h6.cardWithIcon__title= title
  
   



