mixin customCheckboxNote
  label.checkBox
    input(type="checkbox" required).checkBox__input
    span.checkBox__customCheckbox
    span.checkBox__text Я соглашаюсь с условиями обработки и использования моих персональных данных, а также с общими условиями лизинга  
