@keyframes customPulse {
  0% {
    min-width: 150%;
    min-height: 150%;
  }

  50% {
    min-width: 100%;
    min-height: 100%;
  }

  100% {
    min-width: 150%;
    min-height: 150%;
  }
}

.dealProcess {
  $bullet: 5.6rem;
  $paddingTop: 5rem;

  &__slider {
    min-width: 100vw;
  }
  &__slide {
    height: 85vh;
    position: relative;
  }

  &__img {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .container {
    position: relative;
  }

  &__arrowsWrapper,
  &__textWrapper {
    bottom: 3.5rem;
  }

  &__arrowsWrapper {
    position: absolute;
    z-index: 2;
    right: 13.5rem;
    display: flex;
  }

  &__pagination {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    width: 100%;
    padding: $paddingTop 0rem 23rem 0rem;
    width: 100% !important;
    overflow: visible;

    .swiper-pagination-bullet-active {
      .activeEffect {
        animation: customPulse 3s infinite linear;
      }
    }

    .swiper-pagination-bullet {
      // transform: scale(1) !important;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;
      width: $bullet;
      height: $bullet;
      border: 1px solid #787a8e;
      position: relative;
      transition: 0.3s ease;
      z-index: z(bullet);
      transform: scale(1) !important;
      display: none;
      left: 0 !important;

   

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: transparent;
        background-color: $pageBackgroundColor;
        transition: 0.3s ease;
        z-index: -1;
        border-radius: 100%;
      }

      .counter {
        font-weight: 300;
        font-size: 2.4rem;
        color: #787a8e;
        transition: 0.3s ease;
      }
      .text {
        font-size: 1.6rem;
        line-height: 1.2;
        color: #787a8e;
        position: absolute;
        bottom: -2rem;
        transform: translateY(100%);
        left: 0;
        min-width: 13rem;
      }

      .activeEffect {
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 1.2;
        color: #787a8e;
        position: absolute;
        top: 50%;
        transition: 0.3s ease;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 100%;
        min-width: 100%;
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;
      }

      &.active {
        background-color: $mainTextColor;

        &::after {
          background-color: $mainTextColor;
        }

        .activeEffect {
          border: 1px solid $mainTextColor;
          color: #ffffff;
          z-index: z(bullet_active);
          max-width: 150%;
          max-height: 150%;
          z-index: z(bullet_active_border);
          background-color: $pageBackgroundColor;

          min-width: 150%;
          min-height: 150%;
        }

        .counter {
          color: #ffffff;
        }

        .text {
          color: $mainTextColor;
        }
      }
    }

    .swiper-pagination-bullet-active-main {
      display: flex;
    }
  }

  .customPaginationWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    &__container {
      position: relative;
      width: 100%;
      max-width: 90%;
    }
  }

  .customProgressBar {
    max-width: 100%;
    height: 0.2rem;
    display: flex;
    position: absolute;
    top: calc(#{$paddingTop} + #{$bullet} / 2);
    left: 50%;
    transform: translateX(-50%);
    // background-color: $mainTextColor;
    width: 100%;
    background-color: #787a8e;

    &__fillLine {
      background-color: $mainTextColor;
      transition: 1s ease;
      width: 0;
    }
  }

  &__arrow {
    width: 3.5rem;
    height: 9.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &_prev {
      background: rgba(120, 122, 142, 0.589);
      border-radius: 0px 0.7rem 0.7rem 0px;
      transform: rotate(180deg);
    }
    &_next {
      background: #787a8e;
      border-radius: 0px 0.7rem 0.7rem 0px;
    }
  }

  &__textWrapper {
    // position: absolute;
    background: #ffffff;
    border-radius: 0.7rem;
    max-width: 46rem;
    width: 100%;
    // left: 7rem;
    transform: translateY(-100%);
    position: relative;
    padding: 1.4rem 3rem;
    color: $mainTextColor;
    min-height: 22rem;
  }
  &__slideTitle {
    font-size: 3rem;
    line-height: 1.4;
    margin-bottom: 1.7rem;
  }
  &__text {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 140.8%;
  }
}

@media (max-width: 1350px) {
  .dealProcess {
    $bullet: 4.5rem;
    $paddingTop: 5rem;
    &__arrowsWrapper {
      right: 9.5rem;
    }
    &__slideTitle {
      font-size: 2.5rem;
    }

    &__textWrapper {
      max-width: 36rem;
      min-height: 17rem;
    }

    &__pagination {
      .swiper-pagination-bullet {
        width: $bullet;
        height: $bullet;

        .counter {
          font-size: 1.8rem;
        }
      }
    }

    .customProgressBar {
      top: calc(#{$paddingTop} + #{$bullet} / 2);
    }
  }
}

@media (max-width: 768px) {
  .dealProcess {
    &__pagination {
      padding-bottom: 15rem;
    }

    .customPaginationWrapper {
      max-width: 85%;
    }
    &__arrow {
      width: 2.5rem;
      height: 7rem;
      img {
        width: 0.7rem;
      }
    }
    &__arrowsWrapper,
    &__textWrapper {
      bottom: 2.5rem;
    }

    &__textWrapper {
      padding: 1.4rem;
    }
    &__slideTitle {
      font-size: 2.5rem;
    }
  }
}

@media (max-width: 650px) {
  .dealProcess {
    $bullet: 3.8rem;
    $paddingTop: 3rem;

    .customProgressBar {
      top: calc(#{$paddingTop} + #{$bullet} / 2);
    }

    .customPaginationWrapper {
      max-width: 90%;
    }

    &__slideTitle {
      font-size: 1.8rem;
    }

    &__text {
      font-size: 1.4rem;
    }

    &__textWrapper {
      max-width: 25rem;
      min-height: 14rem;
    }

    &__arrowsWrapper {
      right: 5rem;
    }

    &__slide {
      height: 65vh;
    }

    &__pagination {
      padding: $paddingTop 0rem 12rem 0rem;

      .swiper-pagination-bullet {
        width: $bullet;
        height: $bullet;
        .text {
          font-size: 1.2rem;
          min-width: 10rem;
        }
        .counter {
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .dealProcess {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    .customProgressBar {
      display: none;
    }

    &__slider {
      order: 3;
    }

    .container {
      position: static;
    }

    &__container {
      order: 1;
    }

    .customPaginationWrapper {
      padding-bottom: 0;
      margin-bottom: 3rem;
      order: 2;
    }
    .swiper-pagination-bullet {
      .text {
        display: none;
      }
    }

    &__slider {
      margin: 0;
    }

    &__slide {
      height: auto;
    }

    &__textWrapper {
      position: static;
      transform: translate(0);
      margin: 0 auto;
      text-align: center;
    }
    &__arrowsWrapper {
      max-width: 90%;
      display: flex;
      justify-content: space-between;
      bottom: 50%;
      width: 100%;
      right: 50%;
      transform: translate(50%, -50%);
    }

    &__pagination {
      padding: 0;
      justify-content: center;
      .swiper-pagination-bullet {
        display: none !important;
      }

      .swiper-pagination-bullet-active {
        display: flex !important;
      }
    }

    &__arrow {
      background-color: transparent;
      @include backgroundImage("@/assets/_global/icons/greyArrow.svg", contain);
      width: 1rem;
      height: 2rem;

      img {
        display: none;
      }
      &_next {
        right: 0;
      }
    }

    &__img {
      display: none;
    }
  }
}
