.FAQ {
  &__container {
  }
  &__column {
    max-width: 87.5rem;

    margin: 0 auto;
    & > :not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}

.toggleTextItem {
  $this: &;

  @mixin activeTitleState {
    font-weight: 500;
    font-size: 3rem;
    color: $mainTextColor;
  }

  &.active {
    #{$this}__text {
      font-size: 1.8rem;
      line-height: 1.7;
    }

    #{$this}__arrow {
      transform: rotate(180deg);
    }

    #{$this}__title {
      @include activeTitleState;
    }

    #{$this}__dropdown {
      padding-top: 1rem;
      padding-bottom: 2rem;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 140.8%;
    color: #787a8e;
    padding: 0 1rem;
    margin-bottom: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease;
    position: relative;

    &:hover {
      color: $mainTextColor;
    }

    &.permanentActive {
      @include activeTitleState;
      cursor: default;
      &::before {
        display: none;
      }
    }

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
  }

  &__buttonPopUp {
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 1.2;
    color: #c3c0f9;
    background-color: transparent;
    text-align: right;
  }

  &__dropdown {
    padding: 0 0 0 4.5rem;
    border-bottom: 1px solid #c3c0f9;
  }
  &__text {
    font-weight: 300;
    font-size: 0;
    color: $mainTextColor;
    transition: 0.5s ease;
  }

  &__arrow {
    display: flex;
    transition: 0.3s ease;
    align-items: center;
    margin-left: 2rem;
  }
}

@media (max-width: 1350px) {
  .toggleTextItem {
    $this: &;
    &__buttonPopUp {
      font-size: 2rem;
    }

    &__title {
      font-size: 2.4rem;
      &.permanentActive {
        font-size: 2.4rem;
      }
    }

    &.active {
      #{$this}__title {
        font-size: 2.4rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .toggleTextItem {
    $this: &;

    &__title {
      font-size: 2rem;
      &.permanentActive {
        font-size: 2rem;
      }
    }

    &.active {
      #{$this}__text {
        font-size: 1.6rem;
      }

      #{$this}__title {
        font-size: 2rem;
      }
    }
  }

  .FAQ {
    &__column {
      & > :not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .FAQ {
    &__column {
      & > :not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }

  .toggleTextItem {
    $this: &;

    &__title {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      &.permanentActive {
        font-size: 1.5rem;
      }
    }
    &.active {
      #{$this}__text {
        font-size: 1.2rem;
      }

      #{$this}__title {
        font-size: 1.5rem;
      }
    }

    &__buttonPopUp {
      font-size: 1rem;
    }
  }
}
