.firstScreen {
  line-height: 1.4;
  color: #ffffff;
  @include backgroundImage("@/assets/images/index/firstScreenBG.jpg", cover);
  &__container {
    padding-top: 13vh;
    padding-bottom: 10vh;
    min-height: 60rem;
  }

  &__title {
    margin-bottom: 2rem;
    max-width: 63rem;
  }

  &__subtitle {
    font-weight: 300;
    font-size: 1.8rem;
    margin-bottom: 6rem;
  }

  &__button {
  }
}

@media (min-width: 769px) {
  .firstScreen {
    &__title {
      font-size: 4.8rem;
    }
  }
}

@media (min-width: 651px) {
  .firstScreen {
    &__container {
      min-height: 50rem;
    }
  }
}

@media (max-width: 480px) {
  .firstScreen {
    &__container {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
    &__subtitle {
      font-size: 1.2rem;
      margin-bottom: 3rem;
    }
  }
}
