.container {
  max-width: 140rem;
  width: 100%;
  margin: 0 auto;
  padding: 0px 2rem;
  &_small {
    max-width: 134rem;
  }
}

.wrapper {
  overflow: hidden;
  background-color: $pageBackgroundColor;

  font-family: $mainFontFamily;

  &__100vh {
    display: grid;
    min-height: 100vh;
    grid-template-rows: min-content 1fr;
  }
}
