

.container {
  max-width: 140rem;
  width: 100%;
  margin: 0 auto;
  padding: 0px 2rem;
  &_small {
    max-width: 134rem;
  }
}

.wrapper {
  overflow: hidden;
  background-color: $pageBackgroundColor;

  font-family: $mainFontFamily;

  &__100vh {
    display: grid;
    min-height: 100vh;
    grid-template-rows: min-content 1fr;
  }
}

.block {
  overflow: hidden;
}

@media (max-width: 768px) {
  body.overlay {
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.39);
    }
  }
}
