.defaultButton {
  background-color: $mainTextColor;
  border-radius: 0.7rem;
  padding: 0 3.3rem;
  color: #ffffff;
  font-size: 2.4rem;
  font-family: Gilroy;
  min-height: 6.5rem;
  font-weight: 500;
}
