@import "@scss/_global/abstracts/mixins.scss";
@import "@scss/_global/abstracts/variables.scss";
@import "@scss/_global/abstracts/functions.scss";

.preloader {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-color: $pageBackgroundColor;
  top: 0;
  left: 0;
  z-index: z(preloader);
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    justify-content: center;
  }
  &__link {
    display: flex;
    align-items: center;
    &:not(:last-of-type) {
      margin-right: 3rem;
    }
  }
}

@media (max-width: 600px) {
  .preloader {
    &__container {
      display: grid;
      gap: 3rem;
    }

    &__link {
      display: flex;

      &:not(:last-of-type) {
        margin: 0;
      }
    }
  }
}
