doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body 
//- mixins
include ~@/templates/_global/abstracts/mixins/button_default.pug
include ~@/templates/_global/abstracts/mixins/card_link.pug

.wrapper
  .wrapper__100vh
    include ~@/templates/_global/layout/_header.pug

    section.firstScreen
      .container.container_small.firstScreen__container
        h1.firstScreen__title.sectionTitle Лизинг <br> легковых автомобилей
        h4.firstScreen__subtitle Позваляет приобрести автомобили <br> быстро и без труда
        +defaultButton("button","firstScreen__button","Оставить заявку") 


  .catalog
    .catalog__container.container
      .catalog__row 
        +linkCard("Легковые автомобили",["С пробегом"],1)
        +linkCard("Легковые автомобили",[" "],2)
        +linkCard("Коммерческий транспорт",["Эконом класс","С пробегом","Премиум класс"],3)
        +linkCard("Водителям такси",["Эконом класс","С пробегом","Премиум класс"],4)

      include ~@/templates/_global/components/searchInput.pug
